
<div class="about">

  <h2>Firebase & AngularFire In Depth</h2>

  <img class="course-image mat-elevation-z10"
       src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/firebase-course-1.jpg">


    <!-- don't need this any more -->
    <!-- <button mat-raised-button class="upload-btn" color="primary" (click)="uploadData()">Populate Database</button> -->
    <!-- (click)="onReadDoc()" -->
    <button mat-raised-button color="primary" 
            (click)="onReadDocRT()"
            >
            Read course
          </button>

          <button mat-raised-button color="primary" 
          (click)="onReadDocRTValue()"
          >
          Read course value
        </button>
    
          <!-- (click)="onReadCollection()" -->
    <button mat-raised-button color="primary" 
            (click)="onReadCollection()"
            >
            Read collection
    </button>

    <!-- (click)="onReadCollectionGroup()" -->
    <button mat-raised-button color="primary" 
        (click)="onReadCollectionGroup()"
        >
        Read collection group
    </button>
</div>


