
:host {
  height: 100vh;
  display: block;
  overflow: hidden;
}

.mat-toolbar {
  height: var(--navbar-height);
}

.mat-sidenav-container {
  height: calc(100% - var(--navbar-height));
}

.user-avatar {
  max-height: 35px;
  border-radius: 4px;

}

.toolbar-tools {
  display: flex;
  width: 100%;
}


.filler {
  flex: 1 1 auto;
  width: 100%;
}


